{% extends "base.html.twig" %}


{% block title %}Création d'une voiture
{% endblock %}

{# {% form_theme myForm 'bootstrap_5_layout.html.twig' %} #}
{% form_theme myForm 'cars/_collection.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Création d'une nouvelle cars</h1>

		{{ form_start(myForm) }}


		{{form_widget(myForm)}}
		<button type="submit" class="btn btn-primary mt-3">
			Ajout d'une voiture</button>


		{{ form_end(myForm) }}
	</div>
{% endblock %}


{% block javascripts %}
 {{encore_entry_script_tags('cars')}}
{% endblock %}
